@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@import 'tailwindcss/utilities';

@import "sliderStyles.css";

:root {
    --color1: #141514;
    --color2: #151515;
    --color3: #2c0505;
    --color4: #171717;
    --color5: #6b0a0a;
    --color6: #7e0d0d;
    --gray-400: #9ca3af
}

.animated-bg {
    animation: gradientAnimation 10s linear infinite alternate;
    background-size: 400% 400%;
    background-image: linear-gradient(-45deg, var(--color4), var(--color3), var(--color2), var(--color1));
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

body::-webkit-scrollbar {
    width: 4px !important; /* Adjust the width as needed */
}

body::-webkit-scrollbar-track {
    background-color: #7a6666; /* Track color */
}

body::-webkit-scrollbar-thumb {
    background-color: #650f07; /* Thumb color */
    border-radius: 5px; /* Rounded corners */
}


.dropdown-scrollbar::-webkit-scrollbar {
    width: 4px !important; /* Adjust the width as needed */
}

.dropdown-scrollbar::-webkit-scrollbar-track {
    background-color: #7a6666; /* Track color */
}

.dropdown-scrollbar::-webkit-scrollbar-thumb {
    background-color: #650f07; /* Thumb color */
    border-radius: 5px; /* Rounded corners */
}

.outlined-primary-button {
    border: var(--color5) 2px solid;
}

.outlined-primary-button:hover {
    background-color: var(--color5);
    color: var(--gray-400)
}

.solid-primary-button {
    background-color: var(--color5);
    color: var(--gray-400);
    border: var(--color5) 2px solid;
}

.solid-primary-button:hover {
    border: var(--color5) 2px solid;
    background-color: var(--color6);
}

.gradient-text {
    background-image: linear-gradient(90deg, #7e500f, #9a3412, #450a0a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.login-bg-image {
    background-image: url("/images/Login-background.jpg");
}

.scrollbar-container {
    display: grid;
    grid-auto-columns: calc(100% - 56rem);
    grid-auto-flow: column;
    grid-gap: 10rem;
    overflow-x: auto;
}

.scrollbar-item {
    width: 300px;
    height: auto;
}

.scrollbar-container::-webkit-scrollbar {
    width: 10px;
    height: 2px; /* Adjust the width as needed */
}

.scrollbar-container::-webkit-scrollbar-track {
    background-color: #232121; /* Track color */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
.scrollbar-container::-webkit-scrollbar-thumb {
    background-color: #888; /* Thumb color */
    border-radius: 5px; /* Rounded corners */
}

@media (max-width: 520px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 1rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 522px) and (max-width: 768px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 10rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 768px) and (max-width: 830px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 20rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 832px) and (max-width: 940px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 26rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 942px) and (max-width: 1030px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 30rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 1032px) and (max-width: 1200px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 42rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 1202px) and (max-width: 1474px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 56rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 1475px) {
    .scrollbar-container {
        display: grid;
        grid-auto-columns: calc(100% - 76rem);
        grid-auto-flow: column;
        grid-gap: 10px;
        overflow-x: auto;
    }
}

@media (min-width: 1200px) {
    .h-size {
        height: 28rem !important;
    }
}

.spinner-visible {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.scroll-target {
    scroll-margin-top: 150px; /* Set your desired offset value (e.g., top-50) */
}

/* Smooth scrolling behavior */
html {
    scroll-behavior: smooth;
}

